body{
   display: flex;
   align-items: center;
   justify-content: center;
}

.box{
    width: 200px;
    height: 200px;
    margin: 15px;
 }

 #c1{
    background-color: red;
 }
 #c2{
    background-color: blue;
 }
 #c3{
    background-color: yellow;
 }
 #c4{
    background-color: green;
 }
 #c5, #c6{
    background-color: white;
    border: 1px solid black;
 }